@font-face {
    font-display: swap;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff")
}

@font-face {
    font-display: swap;
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ibarra-real-nova-v20-latin-700.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-700.woff") format("woff")
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

img {
    max-width: 100%;
    height: auto
}

ul {
    font-family: 'Public Sans';
}

h1 {
    font-family: 'Ibarra Real Nova';
}
h2 {
    font-family: 'Ibarra Real Nova';
}

p {
    font-family: 'Public Sans';
}
a{
    font-family: 'Public Sans';
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px
}

.header {
    padding-top: 64px;
    margin-bottom: 54px
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header .logo {
    display: block
}

.header ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 42px
}

.header nav a {
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #33323d
}

.header nav a:hover {
    color: #5fb4a2
}

.header .hamburger {
    display: none
}

@media only screen and (max-width: 460px) {
    .header {
        margin-bottom: 40px
    }

    .header .hamburger {
        display: block
    }

    .header ul {
        display: none
    }
}

.intro {
    margin-bottom: 150px
}

.intro__main {
    background-image: url("../../../img/intro__bg-desktop.jpg");
    background-repeat: no-repeat;
    padding-top: 243px
}

.intro__content {
    background-color: #fafafa;
    max-width: 445px
}

.intro__content h1 {
    font-family: "Ibarra Real Nova";
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #33323d;
    margin-bottom: 53px;
    padding-top: 56px;
    letter-spacing: -0.446429px;
    max-width: 390px
}

.intro__content a {
    display: block;
    max-width: 200px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    background-color: #203a4c;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none
}

.intro__content a:hover {
    background-color: #5fb4a2
}

.intro__content p {
    margin-left: 38px;
    display: inline-block
}

@media only screen and (max-width: 730px) {
    .intro {
        margin-bottom: 96px
    }

    .intro__main {
        background-image: url("../../../img/intro__bg-tablet.jpg");
        background-repeat: no-repeat;
        padding-top: 322px
    }

    .intro__content {
        max-width: 514px
    }

    .intro__content h1 {
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        margin-bottom: 48px
    }
}

@media only screen and (max-width: 375px) {
    .intro__main {
        background-size:contain;
        background-image: url("../../../img/intro__bg-mobile.jpg");
        background-repeat: no-repeat;
        padding-top: 271px
      
    }

    .intro__content h1 {
        margin-bottom: 32px;
        max-width: 311px
    }
}

.about {
    margin-bottom: 150px
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 95px
}

.about__right {
    color: #33323d;
    max-width: 350px
}

.about__right h2 {
    font-family: "Ibarra Real Nova";
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    margin-bottom: 28px
}

.about__right p {
    font-size: 16px;
    line-height: 30px;
    opacity: .8;
    margin-bottom: 24px
}

.about__right a {
    padding: 17px;
    text-align: center;
    border: 1px solid #33323d;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #33323d;
    text-decoration: none;
    display: block;
    max-width: 202px
}

.about__right a:hover {
    background-color: #33323d;
    color: #fff
}

.about__right-top {
    transform: translateY(-61px)
}

.about__right-bottom {
    transform: translateY(52px)
}

.about__right span {
    opacity: .15;
    background-color: #33323d;
    display: flex;
    max-width: 350px;
    height: 1px
}


@media only screen and (max-width: 1020px) {
    .about {
        margin-bottom: 96px
    }

    .about .container {
        padding: 0 20px
    }

    .about__right {
        max-width: 339px
    }

    .about__right-top {
        transform: translateY(-53px)
    }

    .about__right-bottom {
        transform: translateY(43px)
    }
}

@media only screen and (max-width: 660px) {
    .about {
        margin-bottom: 167px
    }

    .about .container {
        flex-direction: column
    }

    .about__right {
        max-width: 311px;
        margin-top: 64px
    }

    .about__right-top {
        transform: translateY(-32px)
    }
}


.interested {
    margin-bottom: 150px
}

.interested .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.interested h2 {
    font-family: "Ibarra Real Nova";
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323d;
    max-width: 350px
}

.interested a {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #33323d;
    text-decoration: none;
    border: 1px solid #33323d;
    padding: 17px 31px;
    display: block;
    max-width: 162px
}

.interested a:hover {
    background-color: #33323d;
    color: #fff
}

.interested span {
    display: inline-block;
    height: 1px;
    width: 100%;
    max-width: 400px;
    background-color: #33323d;
    opacity: .15
}

@media only screen and (max-width: 960px) {
    .interested {
        margin-bottom: 96px
    }

    .interested span {
        max-width: 113px
    }
}

@media only screen and (max-width: 670px) {
    .interested {
        margin-bottom: 80px
    }

    .interested span {
        display: none
    }

    .interested .container {
        flex-direction: column;
        text-align: center
    }

    .interested h2 {
        margin-bottom: 40px
    }
}
.footer {
    background-color: #33323d
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px
}

.footer__main {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer__main-logo img {
    display: block;
    margin-right: 48px
}

.footer__main ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 42px
}

.footer__main ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #fff
}

.footer__main ul a:hover {
    color: #5fb4a2
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 16px
}

.footer__socials svg {
    display: block
}

.footer__socials svg:hover path {
    fill: #5fb4a2
}

@media only screen and (max-width: 590px) {
    .footer .container {
        padding-top: 56px;
        padding-bottom: 56px;
        flex-direction: column;
        text-align: center
    }

    .footer__main {
        flex-direction: column
    }

    .footer__main-logo img {
        margin-right: 0;
        margin-bottom: 40px
    }

    .footer__main ul {
        flex-direction: column;
        margin-bottom: 40px
    }
}